/* Add screen styles below */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}


.navbar-light .nav-link {
    color: black;
}

.nav-item .nav-link.active {
    background-color: #f8f9fa;
  }
  
.navbar-nav{
    justify-content: space-between;
}

.navbar-nav li{
    margin-right: 25px;
}

.navbar-nav li:first-child{
    margin-left: 25px;
}


.nav-item{
    font-weight: 600;
}

p{
    font-size: 14px;
}

.container{
    margin-top: 25px;
}

.card-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.left-side{
    display: flex;
    justify-content: first baseline;
}

.profilepics{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-right: 10px;
}


.card-img-top{
    height: 310px;
    border-radius: 10px;
}

.card-text{
    text-transform: uppercase;
    margin-left: 10px;
}

.interactions{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin: 0;
}

.interactions li{
    align-items: center;
}

.interactions li:last-child{
    margin-right: 0px;
}

.fa-heart{
    color: #6c757d;
}

.fa-eye{
    color: #6c757d;
}

.ads{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    color: #6c757d;
}


.ads li{
    margin-right: 5px;
    align-items: center;
}
    

.name{
    display: flex;
    align-items: first baseline;
    text-wrap: nowrap;
    margin-right: 50px;
    font-weight: 600;
}